html, body {
  height: 100%;
}
/* Marquee text */
.marquee {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5%;
  font-size: 30px;
  font-family: 'Cantata One', serif;
  color: #fff;
  text-shadow: 2px 0px 8px rgb(241, 149, 229);
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button1 {
  /* margin-top: 10%; */
  
  /* position: relative; */
  margin-inline-end: 12em;
  width: 190px;
  height: 60px;
  font-family: 'Tenali Ramakrishna', sans-serif;
  font-size: 23px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button1:hover {
  background-color: #B47DC9;
  box-shadow: 0px 15px 20px rgba(108, 29, 181, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.button2 {
  /* margin-top: 10%; */
  /* position: initial; */
  margin-inline-end: 2rem;
  width: 190px;
  height: 60px;
  font-family: 'Tenali Ramakrishna', sans-serif;
  font-size: 23px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button2:hover {
  background-color: #B47DC9;
  box-shadow: 0px 15px 20px rgba(108, 29, 181, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.button3 {
  /* margin-top: 10%; */
  margin-inline-start: 15rem;
  width: 190px;
  height: 60px;
  font-family: 'Tenali Ramakrishna', sans-serif;
  font-size: 23px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button3:hover {
  background-color: #B47DC9;
  box-shadow: 0px 15px 20px rgba(108, 29, 181, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
